/* Get the fixed sidebar */
.fixed {
 	position: fixed;
 	top: 30px;
 	right: 20px;
	max-width: 100px;
	background-color: rgb(245,245,245);
}

/* Get some crazy rotations in there, from vivekv.com*/
.invert{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    
    overflow:hidden;

    }   

.invert:hover{ 
     -webkit-filter: invert(100%); 
}

footer{
	font-size:10px;
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 25px;
    margin-right: 140px;
    margin-left: 140px;
    background-color: rgb(245,245,245);
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

h3 {
    font-size: 1.25em;
}

a {
    text-decoration: underline;
    color: black;
}

.centered{
    text-align: center;
}